/**
     colors
 */
/**
     Backgrounds
 */
/**
     Text titles
 */
.main-bar__title {
  color: #ddd;
}
.main-bar__subtitle {
  color: #6ed5a5;
}
/**
     colors
 */
/**
     Backgrounds
 */
/**
     Text titles
 */
.login-form[data-v-260d49e0] {
  background-color: #070a11;
  height: 100%;
}
.login-form__container[data-v-260d49e0] {
  border: 1px #ffffffc7 solid;
  padding: 36px;
  color: #40524a;
  background-color: #b4dac5eb;
  border-radius: 10px;
}
/**
     colors
 */
/**
     Backgrounds
 */
/**
     Text titles
 */
.list-soft__item[data-v-f277b396] {
  margin: 15px;
  border-radius: 8px;
  background-color: #171925;
}
.list-soft__btn[data-v-f277b396] {
  padding: 0px 6px !important;
  border: 3px solid !important;
}
.list-soft__label[data-v-f277b396] {
  color: white;
}
