
/**
     colors
 */


/**
     Backgrounds
 */


$background: #070a11;
$green-background: #b4dac5eb;
$grey-background: #171925;
/**
     Text titles
 */

$green-title: #6ed5a5;
$black-title: #40524a;
$white-text: #ddd;



